.landingContainer {
  background-color: white;
  height: fit-content;
  padding-bottom: 3rem;

  .landSectiona {
    background-image: url("../../public/bg2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 35rem;
    width: 98.7vw;
    .textLa {
      padding-left: 5rem;
      padding-right: 5rem;
      padding-top: 14rem;
      font-size: 2rem;
      gap: 0.2rem;
      font-weight: bold;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: white;
    }
    .textLb {
      color: white;
      font-size: 1.1rem;
      display: flex;
      justify-content: center;
      padding-top: 5rem;
      padding-left: 16rem;
      padding-right: 16rem;
      font-weight: 10;
    }
  }
  .landSectionb {
    padding-top: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    .texta {
      font-size: 2rem;
      font-weight: bold;
    }
    .textb {
      font-size: 1.5rem;
      padding-bottom: 2em;
    }
    .mappedCategories {
      .cardsContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 2rem;
      }

      .card{
        transition: transform 0.3s ease;
        &:hover {
          transform: translateY(-14px);
          cursor: pointer;
          text-decoration: none;
        }
      }
      .cardCourseImagea {
        // padding-top: 3rem;
        width: 20rem;
        height: 12rem;
        box-sizing: border-box;
      }
      .textcarda {
        padding-top: 1rem;
        font-weight: 500;
        color: rgb(17, 17, 17);
        display: flex;
        justify-content: center;
      }
      .prContent {
        width: 20rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        box-sizing: border-box;
      }
    }
    //pagination content
    .pagination-controls {
      display: flex;
      justify-content: center;
      margin-top: 8px;
      padding-bottom: 1rem;
    }

    .pagination-dot {
      height: 13px;
      width: 13px;
      margin: 0 5px;
      background-color: #ea7b30;
      border-radius: 50%;
      display: inline-block;
      cursor: pointer;
    }

    .pagination-dot.active {
      background-color: #4f1930;
    }
  }
  .ctitle {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 1.9rem;
  }
  .landingc {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
    .serviceCardimage {
      width: 20rem;
      height: 12rem;
    }
    .cardDesc {
      width: 18rem;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 1rem;
    }
    .cardTitle {
      display: flex;
      justify-content: center;
      font-weight: 500;
    }
  }
}
