.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 50%;
  height: 50%;
  background-color: none; /* Semi-transparent background */
  display: flex;
  justify-content: right;
  gap: 1rem;
  margin-left: 35rem;
  margin-top: 5.8rem;
}

.profile {
  background-color: white;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 14rem;
  height: 9.5rem;
  position: relative;
}

/* Add the triangle to simulate a speech bubble */
.profile::before {
  content: '';
  position: absolute;
  top: -10px; /* Adjust position relative to the top */
  left: 12rem; /* Adjust position relative to the left */
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white; /* Match this color to the profile background */
}

.profile div {
  font-size: 18px;
  cursor: pointer;
}

.profile div:hover {
  color: #ea7b30; /* Change color on hover */
}
