.programCourseContainer {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 10rem;

  .cardPrograms {
    .single_image {
      width: 20rem;
      height: 15rem;
    }
  }
  .courses
  {
    .images{
      width: 30rem;
    }
  }
}
