.allPrograms {
  .programatitle {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 10rem;
    font-size: 3rem;
    font-weight: bold;
    color: white;
  }
  .endriver {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 0.7rem;
    .enrollbutton {
      background-color: #ea7b30;
      color: white;
      border-radius: 18px;
      border: 1px solid transparent;
      padding: 0.6em 1.2em;
      font-size: 1em;
      font-weight: 500;
      font-family: inherit;
      cursor: pointer;
      transition: border-color 0.25s;
    }
    .enrollbutton:hover {
      background-color: #4f1930;
    }
  }

  .programCourseContainer {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;

    .cardPrograms {
      padding-bottom: 3rem;
      .programDetails {
        font-size: 1.1rem;
        font-weight: 500;
        border-left: solid 2px #ea7b30;
        padding-left: 1rem;
        .stylep {
          color: #ea7b30;
        }
      }
      .imagecontent {
        display: flex;
        flex-direction: row;
        padding-top: 2rem;

        gap: 5rem;
        .single_image {
          width: 30rem;
          height: 20rem;
        }

        .enrollContentButton {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          .contentCourse {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 1rem;
            border-radius: 5px;
            width: 28rem;
            height: 17rem;
          }
          .ENFIX {
            padding-left: 1rem;
            .enrollFinalbutton {
              background-color: #ea7b30;
              color: white;
              border-radius: 8px;
              border: 1px solid transparent;
              padding: 0.6em 1.2em;
              font-size: 1em;
              font-family: inherit;
              cursor: pointer;
              transition: border-color 0.25s;

              display: flex; 
              justify-content: center; 
              align-items: center; 
              text-align: center;
            }
            .enrollFinalbutton:hover {
              background-color: #4f1930;
            }
          }
        }
      }
    }
  }
}
