.courseContainer {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 8rem;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;

  .coursecard {
    cursor: pointer;
    .title
    {
        text-align: center;
        padding-top: 1rem;
        font-size: 1.1rem;
        font-weight: 500;
    }
    
    .images {
      width: 20rem;
      height: 15rem;
    }
    .video {
      width: 20rem;
      height: 10rem;
    }
  }

   .coursecard {
        transition: transform 0.3s ease;
        &:hover {
          transform: translateY(-14px);
          cursor: pointer;
        }
      }
}
